<h1>Editando {{user.name}}</h1>

<form action="/users/update" method="post" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário..." value="{{user.name}}">
    </div>

    <div class="form-control">
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" placeholder="Digite a sua profissão..." value="{{user.occupation}}">
    </div>

    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsSletter" {{#if user.newsSletter}}checked{{/if}}>
        <label for="newsSletter">Enviar promoçôes</label>
    </div>

    <input type="submit" value="Editar">
</form>